{% extends "help/help_content_layout.html.twig" %}

{% block title %}{{ "overview.title"|trans }}{% endblock %}
{% block description %}{{ "overview.description"|trans }}{% endblock %}

{% trans_default_domain "help" %}

{% block help_content %}
    <h2>{{ "overview.create"|trans }}</h2>
    <p>{{ "overview.create_description"|trans }}</p>
    <h2>{{ "overview.populate"|trans }}</h2>
    <p>{{ "overview.populate_description"|trans }}</p>
    <h2>{{ "overview.manage"|trans }}</h2>
    <p>{{ "overview.manage_description"|trans }}</p>
    <h2>{{ "overview.notify"|trans }}</h2>
    <p>{{ "overview.notify_description"|trans }}</p>
    <h2>{{ "overview.wait"|trans }}</h2>
    <p>{{ "overview.wait_description"|trans }}</p>
    <h2>{{ "overview.inspect"|trans }}</h2>
    <p>{{ "overview.inspect_description"|trans }}</p>

    <p>
        <a class="btn btn-primary" href="{{ path("switch") }}">
            {{ "overview.start"|trans }}
        </a>
    </p>
{% endblock %}