{% extends "security/_base.html.twig" %}

{% block title %}{{ "recover.title"|trans }}{% endblock %}
{% block description %}{{ "recover.description"|trans }}{% endblock %}

{% trans_default_domain "security" %}

{% block form_content %}
    <div class="form-wrapper">
        {{ form(form) }}
    </div>
    <p>
        <a href="{{ path("login") }}">{{ "recover.back_to_login"|trans }}</a>
    </p>
{% endblock %}
