{% extends "security/_base.html.twig" %}

{% block title %}{{ "register.title"|trans }}{% endblock %}
{% block description %}{{ "register.description"|trans }}{% endblock %}

{% trans_default_domain "security" %}

{% block form_content %}
    <div class="form-wrapper">
        {{ form(form) }}
    </div>
{% endblock %}

{% block secondary_content %}
    <p class="small text-secondary">
        <a href="{{ path("login") }}">{{ "register.back_to_login"|trans }}</a>
    </p>
{% endblock %}
