{% extends 'layout_base.html.twig' %}
{% import _self as index %}


{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% macro before_content() %}



{% endmacro %}
{% block content %}
    {{ index.before_content() }}
    <section class="index-section">
        <div class="row">
            <div class="index-side-image start-image">
            </div>
            <div class="index-side-color">

            </div>
        </div>

        <div class="index-section-content">
            <div class="container">
                <div class="offset-md-4 col-md-8">
                    <div class="d-flex align-items-center">
                        <div class="container">
                            <h1 class="text-right">{{ "index.pre_title"|trans }}
                                <span class="text-primary">{{ "index.title"|trans }}</span>
                            </h1>
                            <p class="text-right lead">{{ "index.description"|trans }}</p>
                            <hr/>
                            <a href="{{ path("frontend_login_index") }}"
                               class="btn float-right btn-primary">{{ "index.title"|trans({}, "frontend_login") }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="index-section">
        <div class="row">
            <div class="index-side-color">
            </div>
            <div class="index-side-image we-can-little-image">

            </div>
        </div>

        <div class="index-section-content">
            <div class="container">
                <div class="col-md-8">
                    <div class="d-flex align-items-center">
                        <div class="container">
                            <h1>{{ "index.pre_we_can_little"|trans }}<br/>
                                <span class="text-primary">{{ "index.we_can_little"|trans }}</span>
                            </h1>
                            <p class="lead">{{ "index.we_can_little_description"|trans }}</p>
                            <hr/>
                            <ul>
                                <li>{{ "index.we_can_little_list_1"|trans }}</li>
                                <li>{{ "index.we_can_little_list_2"|trans }}</li>
                                <li>{{ "index.we_can_little_list_3"|trans }}</li>
                                <li>{{ "index.we_can_little_list_4"|trans }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="index-section">
        <div class="row">
            <div class="index-side-image together-with-baulink-image">
            </div>
            <div class="index-side-color">

            </div>
        </div>

        <div class="index-section-content">
            <div class="container">
                <div class="offset-md-4 col-md-8">
                    <div class="d-flex align-items-center">
                        <div class="container">
                            <h1 class="text-right">{{ "index.pre_together_with_baulink"|trans }}<br/>
                                <span class="text-primary">{{ "index.together_with_baulink"|trans }}</span>
                            </h1>
                            <p class="text-right lead">
                                {{ "index.together_with_baulink_description"|trans }}<br/>
                                {{ "index.together_with_baulink_description_2"|trans }}
                            </p>
                            <hr/>
                            <p class="text-right">
                                {{ "index.together_with_baulink_1"|trans }}<br/>
                                {{ "index.together_with_baulink_2"|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="index-section">
        <div class="row">
            <div class="index-side-color">
            </div>
            <div class="index-side-image curious-image">

            </div>
        </div>

        <div class="index-section-content">
            <div class="container">
                <div class="col-md-8">
                    <div class="d-flex align-items-center">
                        <div class="container">
                            <h1>{{ "index.pre_curious"|trans }}<br/>
                                <span class="text-primary">{{ "index.curious"|trans }}</span>
                            </h1>
                            <p class="lead">{{ "index.curious_description"|trans }}</p>
                            <hr/>
                            <a href="{{ path("static_contact") }}"
                               class="btn btn-primary">{{ "contact.title"|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}