{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import 'widgets/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_app_user" %}

{% block single_content %}
    <p>
        {{ buttons.add_button(path("frontend_app_user_new"), "index.new_app_user"|trans) }}
    </p>

    {% if app_users|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "identifier"|trans({}, "entity_app_user") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for app_user in app_users %}
                <tr>
                    <td>{{ app_user.identifier }}</td>
                    <td>
                        {{ buttons.edit_button(path("frontend_app_user_edit", {"appUser" : app_user.id})) }}
                    </td>
                    <td>
                        {{ buttons.remove_button(path("frontend_app_user_remove", {"appUser" : app_user.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "index.no_app_users"|trans }}</p>
    {% endif %}
{% endblock %}