{% extends "center_form_content.html.twig" %}

{% block title %}{{ "support.title"|trans }}{% endblock %}
{% block description %}{{ "support.description"|trans }}{% endblock %}

{% trans_default_domain "support" %}

{% block secondary_content %}
    <p class="small text-secondary">
        {{ "support.ready"|trans }}
        <a href="{{ path("login") }}">{{ "support.back_to_the_application"|trans }}</a>
    </p>
{% endblock %}