{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_dashboard" %}

{% block single_content %}
    <p>

        <a href="{{ path("frontend_app_user_index") }}">
            {{ "index.title"|trans({}, "frontend_app_user") }}
        </a><br/>
        <a href="{{ path("frontend_building_index") }}">
            {{ "index.title"|trans({}, "frontend_building") }}
        </a>
    </p>
{% endblock %}