{% trans_default_domain "frontend_building_map" %}

{% if building.buildingMaps|length > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "name"|trans({}, "trait_thing") }}</th>
            <th>{{ "entity.name"|trans({}, "marker") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for buildingMap in building.buildingMaps %}
            <tr>
                <td>{{ buildingMap.name }}</td>
                <td>{{ buildingMap.markers.count }}</td>
                <td>
                    {{ buttons.edit_button(path("frontend_building_map_edit", {"building" : building.id, "map": buildingMap.id })) }}
                </td>
                <td>
                    {{ buttons.remove_button(path("frontend_building_map_remove", {"building" : building.id, "map": buildingMap.id })) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ "index.no_buildings"|trans }}</p>
{% endif %}
