{% extends "layout_base.html.twig" %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ "markers.title"|trans }}{% endblock %}
{% block description %}{{ "markers.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_building" %}

{% block content %}
    <section class="content">
        {{ breadcrumb.breadcrumbs(breadcrumbs, app.request, block("title")) }}
        <div class="container index-container default-color">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ block("title") }}</h1>
                    <h2>{{ block("description") }}</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="card-columns two">
                    {% for marker in map.markers %}
                        <div class="card">
                            <div class="card-img-top">
                                <div class="row">
                                    <div class="col">
                                        <a href="{{ path("public_render", {"marker": marker.id}) }}"
                                           data-toggle="lightbox" data-type="image" data-gallery="{{ marker.id }}">
                                            <img class="img-fluid"
                                                 src="{{ path("public_render", {"marker": marker.id}) }}">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="/upload/{{ marker.imageFileName }}" data-toggle="lightbox"
                                           data-type="image" data-gallery="{{ marker.id }}">
                                            <img class="img-fluid" data-toggle="lightbox"
                                                 src="/upload/{{ marker.imageFileName }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{{ path("frontend_ajax_marker_edit", {"marker": marker.id}) }}"
                                      method="post"
                                      class="ajax-form">
                                    <input type="hidden" name="back_url" value="{{ app.request.uri }}">

                                    <div class="form-group">
                                        <label class="form-control-label required" for="content">
                                            {{ "content"|trans({}, "entity_marker") }}
                                        </label>
                                        <input class="form-control" id="content" type="text" name="content"
                                               value="{{ marker.content }}">
                                    </div>

                                    <button type="submit" class="btn btn-secondary">
                                        {{ "markers.save"|trans }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}