{% extends "layout_base.html.twig" %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ "markers.title"|trans }}{% endblock %}
{% block description %}{{ "markers.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_building" %}

{% block content %}
    <section class="marker">
        <div class="marker-map" id="marker-map">
            <p class="text-center">{{ "markers.click_on_marker"|trans }}</p>
        </div>
        <div class="marker-list">
            {% for marker in map.markers %}
                <div class="marker-entry" data-hover-target-id="marker-map" data-hover-url="{{ path("public_render", {"marker": marker.id}) }}">
                    <img src="/public/{{ marker.imageFileName }}" class="img-responsive">
                    <form action="{{ path("ajax_marker_edit", {"marker": marker.id}) }}" class="ajax-form">
                        <input type="hidden" name="back_url" value="{{ app.request.uri }}">
                        <div class="form-control">
                            <label for="content">{{ "content"|trans({}, "entity_marker") }}</label>
                            <input id="content" type="text" name="content" value="{{ marker.content }}">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">
                            {{ "markers.save"|trans }}
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}