{% macro nav_item(link, text, secondary = false) %}
    <li class="nav-item {% if secondary %} font-weight-light {% endif %}{% if app.request.pathInfo == link %}active{% endif %}">
        <a class="nav-link" href="{{ link }}">{{ text }}</a>
    </li>
{% endmacro %}

{% extends 'layout_base.html.twig' %}
{% import _self as own_macros %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <a class="navbar-brand" href="{{ path("index") }}">{{ app.request.host }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">
                {{ own_macros.nav_item(path("dashboard"), "dashboard.title"|trans({}, "dashboard")) }}
                {{ own_macros.nav_item(path("foyer"), "foyer.title"|trans({}, "foyer")) }}
                {{ own_macros.nav_item(path("register"), "register.title"|trans({}, "register")) }}
                {{ own_macros.nav_item(path("dispatch"), "dispatch.title"|trans({}, "dispatch")) }}
            </ul>
            <ul class="navbar-nav mr-2">
                {{ own_macros.nav_item(path("switch"), "switch.title"|trans({}, "switch")) }}
            </ul>
            <ul class="navbar-nav mr-2">
                {{ own_macros.nav_item(path("set_locale", {"locale": "de", "return_to": app.request.requestUri}), "locale.de"|trans({}, "i18n"), app.request.locale != "de") }}
                {{ own_macros.nav_item(path("set_locale", {"locale": "it", "return_to": app.request.requestUri}), "locale.it"|trans({}, "i18n"), app.request.locale != "it") }}
            </ul>
            <ul class="navbar-nav">
                {{ own_macros.nav_item(path("login_logout"), "logout.title"|trans({}, "login")) }}
            </ul>
        </div>
    </nav>

    <section class="admin-wrapper">
        <h1>{{ block("title") }}</h1>
        <p class="text-secondary">{{ block("description") }}</p>
        <div class="admin-content">
            {% block admin_content %}

            {% endblock %}
        </div>
    </section>

{% endblock %}