<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="print">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set title = block('title')|raw %}
    {% set description = block('description')|raw %}

    <title>{{ title }}</title>
    {% block stylesheets %}

    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('dist/app.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="description" content="{{ description }}">
    <base href="/" target="_self">
</head>
<body>

<div class="content-wrapper">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
