{% trans_default_domain "help" %}

<article class="connect-app">
    <div class="p-2 mb-2 bg-light-gray text-center">
        <p class="mb-2">{{ "connect_app.activation_code"|trans }}</p>
        <canvas class="authentication-token-canvas">

        </canvas>
        <p class="mb-2">
            {{ "connect_app.or"|trans }}
            <a class="authentication-token-link">
                {{ "connect_app.open_ios_app"|trans }}
            </a>
        </p>
    </div>

    <div class="text-center">
        <a href="https://itunes.apple.com/app/id1414077195" target="_blank">
            <img src="{{ asset('build/images/connect_app/app_store_download.svg') }}"
                 alt="{{ "connect_app.download_ios_app"|trans }}">
        </a>
    </div>
</article>
