{% trans_default_domain "help" %}

<article class="help">
    <p>{{ "overview.description"|trans({}, "help") }}</p>

    <h2 class="mt-4">{{ "overview.create"|trans }}</h2>
    <p>{{ "overview.create_description"|trans }}</p>
    <div class="row">
        <div class="col-lg-8">
            <video class="img-fluid" src="{{ asset('build/videos/help/erfassen.mp4') }}" autoplay controls>
            </video>
        </div>
        <div class="col-lg-4">
            {% include 'help/articles/connect_app.html.twig' %}
        </div>
    </div>

    <h2 class="mt-5">{{ "overview.populate"|trans }}</h2>
    <p>{{ "overview.populate_description"|trans }}</p>
    <video class="img-fluid" src="{{ asset('build/videos/help/einpflegen.mp4') }}" autoplay controls>
    </video>
    <h2 class="mt-5">{{ "overview.manage"|trans }}</h2>
    <p>{{ "overview.manage_description"|trans }}</p>
    <video class="img-fluid" src="{{ asset('build/videos/help/verwalten.mp4') }}" autoplay controls>
    </video>
    <h2 class="mt-5">{{ "overview.notify"|trans }}</h2>
    <p>{{ "overview.notify_description"|trans }}</p>
    <video class="img-fluid" src="{{ asset('build/videos/help/informieren.mp4') }}" autoplay controls>
    </video>
    <h2 class="mt-5">{{ "overview.wait"|trans }}</h2>
    <p>{{ "overview.wait_description"|trans }}</p>
    <video class="img-fluid" src="{{ asset('build/videos/help/umsetzen.mp4') }}" autoplay controls>
    </video>
    <h2 class="mt-5">{{ "overview.inspect"|trans }}</h2>
    <p>{{ "overview.inspect_description"|trans }}</p>
    <img class="img-fluid" src="{{ asset('build/images/help/6_abschliessen.gif') }}"
         alt="{{ "overview.inspect_description"|trans }}">
</article>
