{% extends "single_content_base.html.twig" %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}
{% import "frontend/building/map/macros.html.twig" as map_macro %}
{% import "frontend/building/map/marker/macros.html.twig" as marker_macro %}

{% block title %}{{ "evaluate.title"|trans }}{% endblock %}
{% block description %}{{ "evaluate.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_building" %}

{% block single_content %}
    <h3>{{ "evaluate.by_craftsman"|trans }}</h3>
    <p>
        <a class="btn btn-secondary" href="{{ path("frontend_building_notify", {"building": building.id}) }}">
            {{ "notify.title"|trans }}
        </a>
        {% if building.accessible %}
            <a class="btn btn-outline-secondary"
               href="{{ path("frontend_building_un_publish", {"building": building.id}) }}">
                {{ "evaluate.unpublish_craftsmen"|trans }}
            </a>
        {% endif %}
    </p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "entity.name"|trans({}, "entity_craftsman") }}</th>
            <th>{{ "open_markers"|trans({}, "model_marker_info") }}</th>
            <th>{{ "closed_markers"|trans({}, "model_marker_info") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for craftsman in craftsmen %}
            <tr>
                <td>{{ craftsman.craftsman.name }}</td>
                <td>{{ craftsman.openMarkers }}</td>
                <td>{{ craftsman.closedMarkers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ "evaluate.by_map"|trans }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "entity.name"|trans({}, "entity_building_map") }}</th>
            <th>{{ "open_markers"|trans({}, "model_marker_info") }}</th>
            <th>{{ "closed_markers"|trans({}, "model_marker_info") }}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td>{{ map.buildingMap.name }}</td>
                <td>{{ map.openMarkers }}</td>
                <td>{{ map.closedMarkers }}</td>
                <td>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("frontend_building_map_publish", {"building": building.id, "map": map.buildingMap.id }) }}">
                        {{ "evaluate.publish_map"|trans }}
                    </a>
                </td>
                <td>
                    {% if map.buildingMap.accessible %}
                        <a href="{{ path('public_view', {"guid" : map.buildingMap.publicIdentifier}) }}">
                            {{ "evaluate.see_map"|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}