{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import 'widgets/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ "archived.title"|trans }}{% endblock %}
{% block description %}{{ "archived.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_building" %}

{% block single_content %}

    {% if buildings|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "name"|trans({}, "trait_thing") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_app_user") }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for building in buildings %}
                <tr>
                    <td>
                        <a href="{{ path('frontend_building_view', {"building" : building.id}) }}">
                            {{ building.name }}
                        </a>
                    </td>
                    <td>
                        {{ building.buildingMaps.count }}
                    </td>
                    <td>
                        <a href="{{ path("frontend_building_un_archive", {"building" : building.id}) }}">{{ "archived.unarchive"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "index.no_buildings"|trans }}</p>
    {% endif %}
{% endblock %}