{% extends 'layout_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ building.name }}{% endblock %}

{% trans_default_domain "frontend_building" %}

{% block content %}
    <section class="content">
    {% if breadcrumbs is defined %}
        {{ breadcrumb.breadcrumbs(breadcrumbs, app.request, block("title")) }}
    {% endif %}
    <div class="container index-container default-color">
        <h1>{{ block("title") }}</h1>
        <h2>{{ block("description") }}</h2>
        <h3>{{ "entity.plural"|trans({}, "entity_building_map") }}</h3>
        <p>
            {{ buttons.add_button(path("frontend_building_map_new", {"building" : building.id}), "index.new_building"|trans) }}
        </p>
        {% if building.buildingMaps|length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ "name"|trans({}, "trait_thing") }}</th>
                    <th>{{ "new_marker_count"|trans({}, "entity_marker") }}</th>
                    <th>{{ "open_marker_count"|trans({}, "entity_marker") }}</th>
                    <th class="minimal-width"></th>
                    <th class="minimal-width"></th>
                    <th class="minimal-width"></th>
                    <th class="minimal-width"></th>
                </tr>
                </thead>
                <tbody>
                {% for map in building.buildingMaps %}
                    <tr>
                        <td>{{ map.name }}</td>
                        <td>{{ map.newMarkerCount }}</td>
                        <td>{{ map.openMarkerCount }}</td>
                        <td>
                            <a class="btn btn-outline-secondary"
                               href="{{ path("frontend_building_map_markers", {"map" : map.id, "building" : building.id}) }}">
                                {{ "markers.title"|trans }}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-info"
                               href="{{ path("public_view", {"guid": map.publicIdentifier}) }}">
                                {{ "view.see_map_view"|trans }}
                            </a>
                        </td>
                        <td>
                            {{ buttons.edit_button(path("frontend_building_map_edit", {"building" : building.id, "map": map.id })) }}
                        </td>
                        <td>
                            {{ buttons.remove_button(path("frontend_building_map_remove", {"building" : building.id, "map": map.id })) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ "view.no_building_maps"|trans }}</p>
        {% endif %}

    </div>


    <div class="container index-container default-color">
        <h3>{{ "view.marker_by_craftsman"|trans }}</h3>
        <p>
            <a class="btn btn-secondary"
               href="{{ path("frontend_building_notify_all", {"building": building.id}) }}">
                {{ "view.send_email_all_now"|trans }}
            </a>
        </p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "entity.name"|trans({}, "entity_craftsman") }}</th>
                <th>{{ "open_markers"|trans({}, "model_marker_info") }}</th>
                <th class="minimal-width"></th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>
            {% for craftsman in craftsmen %}
                <tr>
                    <td>{{ craftsman.craftsman.name }}</td>
                    <td>{{ craftsman.openMarkers }}</td>
                    <td>
                        <a class="btn btn-outline-secondary"
                           href="{{ path("frontend_building_notify_craftsman", {"building": building.id, "craftsman" : craftsman.craftsman.id}) }}">
                            {{ "view.send_email_now"|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info"
                           href="{{ path("public_view_2", {"guid": building.publicIdentifier, "guid2": craftsman.craftsman.id}) }}">
                            {{ "view.see_craftsman_view"|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    <div class="container index-container default-color">

        <h3>{{ "view.all_markers"|trans }}</h3>

        {% if building.markers|length > 0 %}
            <table class="table table-striped data-table">
                <thead>
                <tr>
                    <th>{{ "entity.name"|trans({}, "entity_building_map") }}</th>
                    <th>{{ "content"|trans({}, "entity_marker") }}</th>
                    <th>{{ "created_by"|trans({}, "entity_marker") }}</th>
                    <th>{{ "craftsman"|trans({}, "entity_marker") }}</th>
                    <th class="minimal-width">{{ "approved"|trans({}, "entity_marker") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for marker in building.markers %}
                    <tr>
                        <td>{{ marker.buildingMap.name }}</td>
                        <td>{{ marker.content }}</td>
                        <td>{{ marker.createdBy }}</td>
                        <td>{{ marker.craftsman }}</td>
                        <td>
                            {% if marker.approved is not null %}
                                <span class="oi oi-check" title="check icon" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ "view.no_markers"|trans }}</p>
        {% endif %}

        {% if building.archived %}
            <p>
                <a class="btn btn-secondary" href="{{ path("frontend_building_archive") }}">
                    {{ "view.archive"|trans }}
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}