{% extends 'layout_base.html.twig' %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "public" %}

{% block content %}
    <section class="content">
        <div class="container index-container white-color">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ block("title") }}</h1>
                    <h2>{{ block("description") }}</h2>
                    <button class="btn btn-outline-secondary print-button" data-target="{{ app.request.pathinfo ~ "/print" }}">{{ "view.print"|trans }}</button>
                </div>
            </div>
        </div>

        {% for marker in pending_markers %}
            <div class="container index-container default-color">
                <div class="row">
                    <div class="col-md-6">

                        <blockquote class="blockquote">
                            <p class="mb-0">{{ marker.content }}</p>
                            <footer class="blockquote-footer"> {{ marker.createdBy.fullName }}
                                ({{ marker.createdAt|dateFormat }})
                            </footer>
                        </blockquote>
                        <hr/>
                        <figure class="figure">
                        <a href="{{ path("public_render", {"marker": marker.id}) }}"
                           data-toggle="lightbox" data-type="image" data-gallery="{{ marker.id }}">
                            <img class="img-fluid" src="{{ path("public_render", {"marker": marker.id}) }}">
                        </a>
                        <figcaption class="figure-caption">{{ marker.buildingMap.name }}</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <a href="/upload/{{ marker.imageFileName }}" data-toggle="lightbox"
                           data-type="image" data-gallery="{{ marker.id }}">
                            <img class="img-fluid" src="/upload/{{ marker.imageFileName }}">
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if approved_markers|length > 0 %}
            <div class="container index-container default-color">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ "view.approved"|trans }}</h3>
                        <p>
                            {% for marker in approved_markers %}
                                {{ marker.content }} ({{ marker.approved|dateFormat }})
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}