{% extends '_base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}
{% block description %}{{ 'http-error'|trans }}{% endblock %}

{% block layout %}
    <section class="container my-5">
        <h1 class="display-4">
            {{ status_text }}
            <small class="text-muted">({{ status_code }})</small>
        </h1>

        <p class="lead text-muted">
            {% if status_code == 403 %}
                {{ 'http-error-403'|trans }}
            {% elseif status_code == 404 %}
                {{ 'http-error-404'|trans }}
            {% elseif status_code == 410 %}
                {{ 'http-error-410'|trans }}
            {% else %}
                {{ 'http-error'|trans }}
            {% endif %}
        </p>

        {% if status_code == 404 %}
            <img class="img-fluid" src="{{ asset('build/images/404.gif') }}" />
        {% endif %}
    </section>
{% endblock %}
