{% extends 'center_content.html.twig' %}

{% block title %}{{ "index.title"|trans({"%status_code%" : status_code}) }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "bundles_TwigBundle_exception" %}
{% block primary_content %}
    {% block additional_error_info %}
        <p class="text-secondary">{{ "index.description"|trans }}</p>
    {% endblock %}
    <p>
        <a href="{{ path("dashboard_index") }}">{{ "index.back_to_dashboard"|trans }}</a>
    </p>

    <div class="error-image">
        {% block errorimage %}
            <img src="https://media.giphy.com/media/jWexOOlYe241y/giphy.gif">
        {% endblock %}
    </div>
{% endblock %}


{% block secondary_content %}
    <p class="small text-secondary">
    {{ "index.contact_support"|trans }}
    <a href="{{ path("support") }}">{{ "support.title"|trans({},"support") }}</a>
{% endblock %}