{% extends "email/_base.html.twig" %}

{% trans_default_domain "email" %}

{% block body %}
    <p>
        {{ "construction_sites_overview.message"|trans }}
    </p>
    {% for constructionSiteReport in body.constructionSiteReports %}
        <spacer size="20"></spacer>
        <h2>{{ constructionSiteReport.name }}</h2>
        <p>
            <a class="button-secondary-email" href="{{ constructionSiteReport.dashboardUrl }}" target="_blank">
                {{ "construction_sites_overview.to_dashboard"|trans }}
            </a>
        </p>
        <table class="table-email table-email-striped right-align-except-first">
            <thead>
            <tr>
                <th>{{ "entity.name"|trans({}, "entity_craftsman") }}</th>
                <th class="w-9em">{{ "state_values.open"|trans({}, "entity_issue") }}</th>
                <th class="w-9em">{{ "state_values.resolved"|trans({}, "entity_issue") }}</th>
                <th class="w-9em">{{ "state_values.closed"|trans({}, "entity_issue") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for craftsmanReport in constructionSiteReport.craftsmanReports %}
                <tr>
                    <td>{{ craftsmanReport.company }}</td>
                    <td>{{ craftsmanReport.openCount }} ({{ craftsmanReport.openCountDelta }})</td>
                    <td>{{ craftsmanReport.resolvedCount }} ({{ craftsmanReport.resolvedCountDelta }})</td>
                    <td>{{ craftsmanReport.closedCount }} ({{ craftsmanReport.closedCountDelta }})</td>
                </tr>
            {% endfor %}
            <tr class="table-email-tfoot">
                <td>{{ "construction_sites_overview.total"|trans }}</td>
                <td>{{ constructionSiteReport.openCount }} ({{ constructionSiteReport.openCountDelta }})</td>
                <td>{{ constructionSiteReport.resolvedCount }} ({{ constructionSiteReport.resolvedCountDelta }})</td>
                <td>{{ constructionSiteReport.closedCount }} ({{ constructionSiteReport.closedCountDelta }})</td>
            </tr>
            </tbody>
        </table>
        <spacer size="8"></spacer>
        <p class="text-secondary">
            {{ constructionSiteReport.constructionManagers|join(", ") }}
        </p>
        <spacer size="50"></spacer>
    {% endfor %}
{% endblock %}
