{% trans_default_domain "email" %}

{% apply inky_to_html %}
    <spacer size="20"></spacer>
    <center>
        <img class="logo" src="{{ logo_src }}" alt="Logo">
    </center>
    <spacer size="10"></spacer>
    <container>
        <row>
            <column small="12" large="12">
                <p>{{ body|nl2br }}</p>
                <spacer size="8"></spacer>
                {% if action_link is defined %}
                    <p>
                        <a href="{{ action_link }}" target="_blank">
                            {{ action_text }}
                        </a>
                    </p>
                {% endif %}
            </column>
        </row>
    </container>
    <spacer size="10"></spacer>
    <p class="text-center">
        {{ "generated"|trans }}
    </p>
    <spacer size="10"></spacer>

    <p class="text-center">
        <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>

        <br>
        <a href="{{ absolute_url(path("email", {"identifier" : identifier })) }}">
            {{ "mail_wrong_displayed"|trans }}
        </a>

        {% if sender_email is defined %}
            {{ "sent_by"|trans }}
            <a href="mailto:{{ sender_email }}">{{ sender_name }}</a>
        {% else %}
            <br>
            {{ "questions"|trans }}
            <a href="mailto:{{ env_support_email }}">{{ env_support_email }}</a>
        {% endif %}
    </p>
    </td>
{% endapply %}
